.myImg
    {
        height: 10%;
        width: 10%;
        border-radius: 50%;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #f5f5f5;
      }
      
      header img {
        height: 50px; /* Adjust as needed */
      }
      
      nav ul {
        display: flex;
        list-style: none;
        gap: 20px;
      }
      
      nav a {
        text-decoration: none;
        color: #333;
      }
      